@(message: String)
<html lang="en">
    <head>
        <title>:D</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
    </head>
    <body>

    </body>
</html>


<div class="wrapper">
    <h2 class="title">Sign In</h2>
    <p class="message">@message</p>
    <form method="POST" class="form-signin">
       <input class="email" type="email" placeholder="Email Address" name="email">
       <br>
        <input class="password" type="password" placeholder="Password" name="password">
        <br>
        <button class="submit-button" type="submit">Login</button>
    </form>
</div>



